<%if @continent.photo.attached?%>
<%=image_tag @continent.photo, width: 400, height: 300, crop: :fill, class: "location_banner" %>
<%end%>
<h3 class="location_name"><%=@continent.name%></h3>

<% @locations.each do |location|%>
<div class="card-trip">
  <%if location.photo.attached?%>
  <%=image_tag location.photo, width: 400, height: 300, crop: :fill, class: "img"%>
  <%end%>
  <div class="card-trip-infos">
  <%=link_to continent_location_surfcamps_path(@continent, location) do %>
  <h2><strong><%=location.name.capitalize%></strong></h2>
  <%end%>
</div>
</div>
<%end%>

<div class="text-center">
 <%=link_to "Create new Location",new_continent_location_path(@continent),:class => "button circled scroll"%>
<%=link_to "Go to Continents",continents_path,:class => "button circled scroll"%>
</div>

